<%- include('../partials/header') %>
<h3><%= skill.name %></h3>
<form action="/skills/<%= skill.id %>?_method=PUT" method="POST">
    <label>
        Description
        <input class="text-input" type="text" name="description" value="<%= skill.description %>"><br>
    </label>
    <label>
        <input type="checkbox" name="learned" <%= skill.learned ? 'checked' : '' %>>
        Learned?
    </label>
    <button type="submit">Update Skill</button>
</form>
<%- include('../partials/footer') %>
