<%- include('../partials/header') %>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <a class="skill-list" href="/skills/<%= s.id %>"><%= s.name %></a>
            - Completed: 
          <%= s.learned ? 'Yes' : 'No' %>
        </li>
      <% }); %>
    </ul>
    <div class="new-skill">
      <a href="/skills/new">Add New Skill</a>
    </div>
  <%- include('../partials/footer') %>

