<%- include('../partials/header') %>
<h3><%= skill.name %></h3>
<h3><%= skill.description %></h3>
<form 
action="/skills/<%= skill.id %>?_method=DELETE" 
method="POST"
class="delete-form"
>
<button type="submit">Delete Skill</button>
</form>
<a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
<%- include('../partials/footer') %>
